<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head') %>
</head>

<body>
    <%- include('./includes/header') %>
        <section class="content-fluid" style="margin-top: 80px !important">
            <div class="container" style="width: 95% !important">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-md-12 mt-5">
                        <h1 class="text-center title pb-3">
                            Aplicativos
                        </h1>
                        <h2 class="text-center title">
                            !Descubre como y con que se realizo este proyecto!
                            <hr />
                        </h2>
                    </div>
                </div>

                <!-- Nueva Secci칩n de Descripci칩n -->
                <div class="row justify-content-md-center mb-5">
                    <div class="col-md-8 mt-4">
                        <h3 class="text-center pb-2">Descripci칩n del Proyecto</h3>
                        <p class="text-justify">
                            Este proyecto se centra principamente en entender el entorno de Node.js y a su vez, lograr utilizar distintas herramientas como
                            por ejemplo Express, Cors o EJS. Estos nos ayudan a reducir y modular el codigo de una forma m치s legible para todo programador 
                            que vaya a verlo. Por otro lado, espero que sea de su agrado, muchas gracias.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-5">
                    <div class="col-md-8 mt-4 text-center">
                        <img src="../public/img/persona-inicio.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <%- include('./includes/scripts') %>
</body>
<%- include('./includes/footer') %>

</html>